.option {
    background-color: #3c0e70;
    border-radius: .5rem;
    margin-bottom: .5rem;
    padding: 5px;
    cursor: pointer;
    opacity: .8;
    transition: .4s;
}

.option:hover {
    opacity: 1;
}

.correct {
    background-color: #0bfc03;
    font-weight: bolder;
}

.wrong {
    background-color: #3c0e70;
    opacity: .4;
}

.hide {
    display: none;
}